script src="//maps.google.com/maps/api/js?v=3.18&sensor=false&client=&key=&libraries=geometry&language=&hl=&region=" 
script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" 
script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.9/src/infobox_packed.js" type="text/javascript" 
/! only if you need custom infoboxes
br/
= content_tag 'div', '', id: 'data', data: {marker: @marker_options, map: @map_options}
div style=("width: 800px;") 
  #map style=("width: 800px; height: 400px;")
input#field_from name="from" type="text" value="#{@marker_options[:infowindow]}"
input#field_to name="to" type="text" value=""
button#plan_route disabled="disabled" type="button"  Plan Route
