/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require 1st_load_framework
 *= require stylish-portfolio
 *= require dashboard
 *= require_self
 */


 $dark_grey:#3f4a58;
 $orange:#f3795b;
 $green:#3c763d;
 $light_green:#d6e9c6;
 $red:#a94442;
 $light_red:#ebccd1;
 $yellow:#f0c036;
 $grey:#969696;

 p.alert, p.notice{
     display: none;
     color: white;
     font-size: 2rem;
     margin: 0 auto;
     height: 50px;
     text-align: center;
 }
  p.alert{
    background: $red;
  }
  p.notice{
    background: $green;
  }

 /** help_request **/

 #help_request {
   position: fixed;
   width: 300px;
   float: right;
   right: 0px;
   height: 68.6%;
   z-index: 2;
   top: 10%;
   background-color: $dark_grey;
   text-align: center;
   margin-right: -300px;
   color: #eaeaea;
   label{
     padding-bottom: 1rem;
     padding-top: 1.4rem;
   }
   .btn{
     background: $orange;
   }
 }

 .form-control {
   width: 200px;
   margin-left: 5px;
   margin: 0 auto;
 }

  #help_button {
     position: absolute;
    transform: rotate(90deg);
    top: 45%;
    left: -67px;
    z-index: 998;
    width: 100px;
    height: 35px;
    font-size: 20px;
    background: $orange;
    color: #3f4a58;
    border: none!important;
    -webkit-border-bottom-right-radius: 9px;
    -webkit-border-bottom-left-radius: 9px;
    -moz-border-radius-bottomright: 9px;
    -moz-border-radius-bottomleft: 9px;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
  }


  #help_button:hover {
    color: white;
    border: none;
  	outline:none;
}
  #help_button:active:focus {
  	outline:none;
    color: white;
    border: none;
}
#help_button:focus {
  	outline:none;
    color: white;
    border: none;
}
