$dark_grey:#3F4A58;
$orange:#f3795b;

*{
	margin: 0;
	padding: 0;
}
.dash{
	width: 100%;
	height: 100%;
}
.d-header{
	margin-bottom: 0;
	background:$dark_grey;
	-webkit-box-shadow: 4px 12px 33px -7px rgba(199,199,199,0.38);
	-moz-box-shadow: 4px 12px 33px -7px rgba(199,199,199,0.38);
	box-shadow: 4px 12px 33px -7px rgba(199,199,199,0.38);
}
.d-topright{
	font-size: 1.7rem;
	margin: 30px;
	margin-top: 40px;
	color:#fff;
	text-transform: uppercase;
}
.d-logo{
	padding: 5px;
	img {
		display: inline-block;	
	}
	a{
		color: #fff;
		font-size: 3.5rem;
	}
	a:hover{
		text-decoration: none;
	}
}	
#map_head{
	margin-top: 10px;
	margin-bottom: 30px;
	.input-group{
		float:left;
		width:38%;
		padding-right: 10px;
	}
	#plan_route{
		width:24%;
	}
}
.d-sidebar {
	margin-left: -10px;
	margin-top:30px;
	.d-sidebar-textbox, .d-sidebar-nav {
		text-align:justify;
		.list-group{
			font-size: 1.8rem;
		}
		h3{
			text-align:center;
		}
	}
}
.d-statistic {
	margin-top: 30px;
	margin-bottom: 40px;
	span {
		font-size: 2rem;
		color: #555;
	}
	span:not(:last-child)::after{
		content:"|";
		padding:0px 5px;
	}
}
.toggle-messages{
	position: fixed;
	float: right;
	width: 90px;
	z-index: 2;
	top: 52%;
	-moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  writing-mode: tb-rl;
  right: 194px;
}
.d-messages{
	position: fixed;
	width: 220px;
	float: right;
	right: 5px;
	height: 68.6%;
	z-index: 2;
	top: 31.4%;
	-webkit-box-shadow: inset 1px -1px 29px 0px rgba(199,199,199,0.48);
	-moz-box-shadow: inset 1px -1px 29px 0px rgba(199,199,199,0.48);
	box-shadow: inset 1px -1px 29px 0px rgba(199,199,199,0.48);
	h2{
		text-align:center;
		background-color:$dark_grey;
		padding:0px;
		color:#fff;
		margin:0px;
		text-transform: uppercase;
	}
}
.messages-box{
	padding: 10px;
	margin-top:20px;
	.messages-avatar-male, .messages-avatar-female{
		float: left;
		margin-right: 10px;
		height: 70px;
		width: 66px;		
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}
	.messages-avatar-male {
		background-image: url('https://cdn1.iconfinder.com/data/icons/user-pictures/101/malecostume-512.png');
		
	}
	.messages-avatar-female {
		background-image: url('https://cdn1.iconfinder.com/data/icons/user-pictures/100/female1-128.png');
	}
}
.messages-invite-friend {
	position: absolute;
	bottom: 15px;
	left: 15px;
	width: 180px;
}
.pollSlider{
	position:fixed;
	width:200px;
	right:0px;
	margin-right: -200px;
	background-color:#fff;
}
#pollSlider-button{
	position:fixed;
	right:-30px;
	top:300px;
	background:$orange;
	border:$orange;
	i.fa.fa-envelope{
		color:$dark_grey;
	}
}
#pollSlider-button:hover{
	border-color:$orange;
  i.fa.fa-envelope{
		color:#fff;
	}
}
#pollSlider-button:focus{
  border-color:$orange;
  outline:none;
}
#pollSlider-button.btn:active:focus{
	border-color:$orange;
	outline:none;
}
.btn-style{
	background:$dark_grey;
	opacity:1!important;
	color:#fff;
}
.btn-style:hover{
	color:$orange;
}
a.list-group-item:hover, a.list-group-item:focus, button.list-group-item:hover,
button.list-group-item:focus {
  text-decoration: none;
  color: $dark_grey;
  background-color: $orange;
  opacity:.89;
  color: #fff;
  font-weight: bold;
}