<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand">
      <a href="visitors/index#top" onclick = $("#menu-close").click(); >YBER</a>
    </li>
    <li>
      <a href="visitors/index#top" onclick = $("#menu-close").click(); >Home</a>
    </li>
    <li>
      <a href="visitors/index#about" onclick = $("#menu-close").click(); >About</a>
    </li>
    <% if user_signed_in? %>
      <li>
        <a href="/users/edit" onclick = $("#menu-close").click(); >Edit account</a>
      </li>
      <li>
        <a href="/users/sign_out" data-method="delete" onclick = $("#menu-close").click(); >Sign Out</a>
      </li>
    <% else %>
      <li>
        <a href="visitors/index#registration" onclick = $("#menu-close").click(); >Sign In</a>
      </li>
      <li>
        <a href="visitors/index#registration" onclick = $("#menu-close").click(); >Sign Up</a>
      </li>
    <% end %>
    <li>
      <a href="visitors/index#portfolio" onclick = $("#menu-close").click(); >Portfolio</a>
    </li>
    <li>
      <a href="visitors/index#contact" onclick = $("#menu-close").click(); >Contact</a>
    </li>
  </ul>
</nav>


<script type="text/javascript">

// Closes the sidebar menu
$("#menu-close").click(function(e) {
  e.preventDefault();
  $("#sidebar-wrapper").toggleClass("active");
});

// Opens the sidebar menu
$("#menu-toggle").click(function(e) {
  e.preventDefault();
  $("#sidebar-wrapper").toggleClass("active");
});

// Scrolls to the selected menu item on the page
$(function() {
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});
</script>